<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager Page 1</title>
  </head>

  <body>
    <h1>Manager Page</h1>

    <div class="nav-container">
      <a href="/employees" class="nav-card">Manage Employees</a>
      <a href="/manage-menu" class="nav-card">Manage Menu</a>
      <a href="/inventory" class="nav-card">Manage Inventory</a>
      <a href="/reports" class="nav-card">Manage Reports</a>
      <a href="/navigation" class="nav-card">Back</a>
    </div>
  </body>
</html>